:root {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  height:200vh;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.4rem;
}
p{
  z-index: 1;
  width: 30vw;
  text-align: center;
}
.container img {
  position: absolute;
}
.tree1 {
  height: 100vh;
  right: 0rem;
  top: 2rem;
}
.tree2 {
  height: 100vh;
  left: -5rem;
}
.mountain {
  height: 100vh;
  width: 100%;
}

@keyframes zoom-in-right {
  to {
    transform: scale(4) translateX(70rem);
  }
}
@keyframes zoom-in-left {
  to {
    transform: scale(4) translateX(-70rem);
  }
}
@keyframes zoom-in {
  to {
    transform: scale(2) translateZ(10rem);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .tree1 {
    transform-origin: top;
    animation: zoom-in-right linear forwards;
    animation-timeline: scroll();
  }
  .tree2 {
    transform-origin: top;
    animation: zoom-in-left linear forwards;
    animation-timeline: scroll();
  }
  .mountain {
    transform-origin: top;
    animation: zoom-in linear forwards;
    animation-timeline: scroll();
  }
}
