.box{
    height: 52px;
    width: 52px;
    border: 1px solid black;
    animation: roll-dice 1s forwards;
    box-shadow: 10px 10px;
}
@keyframes roll-dice{
    0%,100%{
        transform: rotate3d(0,0,0,0);
    }
    20%{
        transform: rotateX(75deg);
    }
    25%{
        transform: translateX(20px);
    }
    40%{
        transform: rotateY(180deg);
    }
    60%{
        transform: rotateZ(75deg);
    }
    80%{
        transform: rotate3d(10,20,15, 90deg);
    }
    90%{
        transform: translateX(20px);
    }
}