.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: rgb(145, 130, 130);
}
.border-gradient {
  width: 10rem;
  height: 4rem;
  display: grid;
  place-content: center;
  color: white;
  border-radius: 2.4rem;
  --rotation-angle: 0deg;
  background: radial-gradient(rgb(57, 56, 56), black) padding-box,
    conic-gradient(
        black calc(var(--rotation-angle) + 1deg),
        rgb(156, 210, 230) calc(var(--rotation-angle) + 40deg),
        black calc(var(--rotation-angle) + 41deg)
      )
      border-box;
  border: 2px solid transparent;
  cursor: pointer;
  animation: rotate-border 2s linear forwards infinite;
}
.border-gradient:hover {
  animation-play-state: paused;
}
@property --rotation-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0turn;
}

@keyframes rotate-border {
  to {
    --rotation-angle: 360deg;
  }
}
